* { 
    padding: 0;
    margin: 0;
    
}

.content{
    min-height: 100vh;
    background-color: mediumaquamarine;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    
    background-color: aqua;
}
.button {
    
}
main.bookshelf{
    padding: 40px;
    background-color: antiquewhite;
    border: 8px black solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 100px;
}
.book{
    max-width: 360px;
    height: 300px;
    background-color: lightblue;
    box-shadow: -2px 2px 6px black;
    border-radius: 10px 4px 4px 10px;
    display: grid;
    grid-template: 3fr 2fr 1fr/ 40px 1fr;
  
}
.book * {
    border: 1px black solid;
}
.leftGroove{
    grid-row: 1 / -1;
    background-color: rgb(152, 194, 208);
    border-radius: 10px 0 0 10px;
}
.title{
    font-size: 3em;
    align-self: center;
    text-align: center;
}
.author{
    font-size: 1.5em;
    text-align: center;
}
.footer{
    display: flex;
    justify-content: space-around;
}
.readStatus{
    background-color: transparent;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 80%;
    width: 60%;
    border-radius: 15px;
}
.pages{
    align-self: center;
    margin: 5px 15px;
}
.unread{
    background-color: red;
}
.read{
    background-color: rgb(23, 184, 23);
}

.formContainer{
    width: 400px;
    background-color: red;
    box-shadow: 0 0 8px black;
    position: fixed;
    left: 50%;
    top: -120vh;
    transition: 0.8s;
    transform: translate(-50%, 0);
}
fieldset{
    padding: 20px 40px;
    display: grid;
    grid-template: 2fr repeat(4, 1fr) / 1fr 3fr;
    gap: 10px;
}
fieldset h2{
    margin: 5px;
    grid-column: 1 / 3;
    justify-self: center;
}
fieldset label{
    font-size: 1.2rem;
    justify-self: center;
}

/*Add this class to make form visible on screen*/
.visible{
    top: 15vh;
    filter: brightness(100%);
}
/*Add this class to darken stuff*/
.darken{
    filter: brightness(60%);
}

