@font-face {
    font-family: Varela;
    src: url('Assets/VarelaRound-Regular.ttf');
}
* { 
    padding: 0;
    margin: 0;
    font-family: Varela;
}

.content{
    min-height: 100vh;
    background-color: #1D2D44;
    
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    box-shadow: 0 2px 2px #3E5C76;
    background-color: #1D2D44;
    color: #F0EBD8;
    justify-content: center;
}
.button {
    
}
#addBookButton{
    font-size: 1.5rem;
    margin: 30px 0;
    padding: 10px;
    border-radius: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #F0EBD8;
    color: #1D2D44;
}
main.bookshelf{
    padding: 60px;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 100px;
    height: 1fr;
}
.book{
    max-width: 360px;
    height: 300px;
    background-color: #3E5C76;
    box-shadow: -2px 2px 6px black;
    border-radius: 10px 4px 4px 10px;
    
    display: grid;
    grid-template: 3fr 2fr 1fr/ 40px 1fr;
    color: #F0EBD8;
}

.leftGroove{
    grid-row: 1 / -1;
    background-color: #1D2D44;
    border-radius: 10px 0 0 10px;
}
.title{
    font-size: 3em;
    align-self: center;
    text-align: center;
}
.author{
    font-size: 1.5em;
    text-align: center;
}
.footer{
    display: flex;
    justify-content: space-around;
}
.readStatus{
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 80%;
    width: 60%;
    border-radius: 15px;
    background-color: rgb(95, 13, 13);
    color: #F0EBD8;
    
}

.pages{
    font-size: 1.15em;
    align-self: center;
    margin: 5px 15px;
}
.read {
    background-color: rgb(14, 161, 112);
}

.formContainer{
    border: none;
    width: 400px;
    background-color: #496d8d;
    box-shadow: 0 0 8px black;
    position: fixed;
    left: 50%;
    top: -120vh;
   
    transition: 0.8s;
    transform: translate(-50%, 0);
    color: #ebe8e1;
    border-radius: 5px;
}
fieldset{
    padding: 20px 40px;
    display: grid;
    grid-template: 2fr repeat(4, 1fr) / 1fr 3fr;
    gap: 10px;
    border: none;
}
fieldset h2{
    margin: 5px;
    grid-column: 1 / 3;
    justify-self: center;
}
fieldset label{
    font-size: 1.2rem;
    justify-self: center;
}
fieldset input{
    background-color: transparent;
    border: none;
    border-bottom: 2px #1D2D44 solid;
    color: #ebe8e1;
    padding: 0 8px;

}
#submitBook{
    border-radius: 16px;
    padding: 4px 9px;
    margin: 9px 0;
    font-size: 1em;
    grid-column: 1 / -1;
    justify-self: center;
    background-color: #ebe8e1;
}

/*Add this class to make form visible on screen*/
.visible{
    top: 15vh;
    filter: brightness(100%);
}
/*Add this class to darken stuff*/
.darken{
    filter: brightness(60%);
}

